h1{
    text-align:center;
}

p{
 font-size: 21px;

}


header img{
    width: 300px;
    height: 200px;
    
}

.row{
  background-color: #7ff0ff;

}

.rin{
  background-color: #7fb9ff;
}

.ryn{
  background-color: #6bfdf8;
}


.tin{
  background-color: #6bfdf8;
}

.ton{
  background-color: #6bfdf8;
}

.gon{
  background-color: #6bfdf8;
}

.ion{
  background-color: #6bfdf8;
}
